* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  text-align: right; }

.signup-btn {
  background: #2a5dd4 0% 0% no-repeat padding-box;
  border-radius: 4px;
  color: #fff !important;
  text-align: center; }
  .signup-btn:hover {
    color: #b6b4b4 !important;
    text-decoration: none; }

.edu-title {
  font-size: 26px;
  color: #04004d;
  font-weight: bold; }

.edu-desc {
  color: #959595;
  margin: 20px 0;
  font-size: 22px; }
  .edu-desc .option {
    color: #04004d; }
  @media (min-width: 1200px) {
    .edu-desc {
      width: 526px; } }

.img-container img {
  width: 100%; }

.features-list .features-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  color: #959595; }
  .features-list .features-list-item p {
    margin-right: 10px;
    margin-bottom: 0 !important; }

.close {
  width: 30px;
  position: absolute;
  left: 15px;
  top: 15px;
  cursor: pointer; }

.hero {
  background-image: url(../../images/bg1366.png);
  background-repeat: no-repeat;
  background-position: right; }
  @media (min-width: 1200px) {
    .hero {
      height: 748px; } }
  @media (min-width: 1200px) {
    .hero {
      height: 748px; } }
  @media (max-width: 767px) {
    .hero {
      background-position: top right; } }
  .hero header nav {
    width: 100%; }
    @media (max-width: 767px) {
      .hero header nav .navbar-nav {
        margin-top: 20px; } }
    .hero header nav .navbar-nav .nav-link:hover {
      color: #b6b4b4 !important; }
    .hero header nav .navbar-nav .signup-btn {
      width: 152px;
      height: 37px;
      font-size: 13px; }
    .hero header nav .navbar-nav .login-btn {
      margin-left: 35px;
      font-size: 13px;
      color: #04004d;
      font-weight: bold; }
  @media (min-width: 1200px) {
    .hero .hero-content {
      padding-top: 50px; } }
  @media (max-width: 767px) {
    .hero .hero-content .text-container {
      margin-bottom: 40px;
      margin-top: 50px; } }
  @media (min-width: 1200px) {
    .hero .hero-content .text-container {
      padding: 110px 0;
      margin-right: 15px; } }
  .hero .hero-content .text-container .edu-title {
    letter-spacing: 0.78px;
    color: #04004d;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif; }
    @media (min-width: 1200px) {
      .hero .hero-content .text-container .edu-title {
        font-size: 60px; } }
  .hero .hero-content .text-container .edu-desc {
    font-weight: bold;
    color: #04004d;
    line-height: 1.67;
    font-size: 26px;
    margin-top: 20px; }
    @media (min-width: 1200px) {
      .hero .hero-content .text-container .edu-desc {
        width: 475px; } }
    @media (max-width: 767px) {
      .hero .hero-content .text-container .edu-desc {
        font-size: 21px; } }
  .hero .hero-content .text-container .signup-btn {
    width: 187px;
    height: 58px;
    font-size: 18px;
    display: block;
    line-height: 58px;
    margin-top: 30px; }
    @media (max-width: 767px) {
      .hero .hero-content .text-container .signup-btn {
        width: 174px;
        height: 45px;
        font-size: 16px;
        line-height: 45px; } }
  .hero .hero-content .img-container {
    float: left; }
    @media (max-width: 767px) {
      .hero .hero-content .img-container img {
        width: 100%; } }

.between {
  position: relative; }
  .between .between-content {
    margin: 70px auto;
    width: 300px;
    text-align: center; }
    @media (max-width: 767px) {
      .between .between-content {
        margin: 38px auto; } }
    .between .between-content h3 {
      font-weight: bold;
      color: #04004d;
      text-align: center; }
      .between .between-content h3::after {
        display: block;
        height: 2px;
        content: "";
        background-color: #eee;
        width: 527px;
        position: absolute;
        left: 0;
        bottom: 10px; }
        @media (min-width: 321px) and (max-width: 767px) {
          .between .between-content h3::after {
            width: 30px; } }
        @media (max-width: 320px) {
          .between .between-content h3::after {
            display: none; } }
        @media (min-width: 768px) and (max-width: 1200px) {
          .between .between-content h3::after {
            width: 80px; } }
      .between .between-content h3::before {
        display: block;
        height: 2px;
        content: "";
        background-color: #eee;
        width: 527px;
        position: absolute;
        right: 0;
        bottom: 10px; }
        @media (max-width: 320px) {
          .between .between-content h3::before {
            display: none; } }
        @media (min-width: 321px) and (max-width: 767px) {
          .between .between-content h3::before {
            width: 30px; } }
        @media (min-width: 768px) and (max-width: 1200px) {
          .between .between-content h3::before {
            width: 80px; } }

.about .img-container {
  position: relative;
  height: 100%; }
  .about .img-container .video-placeholder {
    width: 100%;
    height: 100%; }
  .about .img-container .play {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    text-align: center;
    width: 68px;
    height: 68px;
    padding: 24.8px 22.6px 24.1px 28.2px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    cursor: pointer; }
    @media (max-width: 767px) {
      .about .img-container .play {
        width: 55px;
        height: 55px;
        padding: 15.8px 14.6px 14.1px 17.2px; } }
    .about .img-container .play i {
      color: #2a5dd4;
      font-size: 18px; }
      @media (max-width: 767px) {
        .about .img-container .play i {
          font-size: 16px; } }
@media (max-width: 767px) {
  .about .text-container {
    margin-top: 33px; } }

.feature {
  margin: 80px 0; }
  .feature .text-container {
    padding: 48px 0; }
    @media (max-width: 767px) {
      .feature .text-container {
        padding: 20px 0; } }

.subscribe {
  border-radius: 39px;
  background-color: #04004d;
  padding: 64px 63px;
  margin-bottom: 100px; }
  @media (max-width: 767px) {
    .subscribe {
      padding: 30px;
      border-radius: 12px; } }
  .subscribe .subscribe-title {
    font-size: 30px;
    color: #ffad0d; }
  .subscribe .price {
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 20px 0; }
    @media (max-width: 767px) {
      .subscribe .price {
        margin: 10px 0; } }
    .subscribe .price .num {
      font-size: 45px;
      margin-left: 8px; }
    .subscribe .price .text {
      font-size: 22px; }
  .subscribe .subscribe-desc {
    color: #fff;
    font-size: 20px;
    margin: 20px 0; }
    @media (max-width: 767px) {
      .subscribe .subscribe-desc {
        margin: 10px 0; } }
  .subscribe .subscribe-btn {
    width: 150px;
    height: 50px;
    background-color: #ffad0d;
    color: #04004d;
    display: block;
    border-radius: 4px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    margin-top: 40px;
    font-weight: bold; }
    @media (max-width: 767px) {
      .subscribe .subscribe-btn {
        margin-top: 20px; } }
  @media (max-width: 767px) {
    .subscribe .features-list {
      margin-top: 20px; } }
  .subscribe .features-list .features-list-item {
    color: #fff; }
    .subscribe .features-list .features-list-item:not(:last-child) {
      margin-bottom: 25px; }
    .subscribe .features-list .features-list-item:last-child {
      margin-bottom: 0; }

footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #eaeaea;
  padding: 15px 0; }
  @media (max-width: 767px) {
    footer .footer-content {
      display: block; } }
  footer .footer-content .footer-logo {
    width: 115px; }
    @media (max-width: 767px) {
      footer .footer-content .footer-logo {
        display: block;
        margin: auto; } }
  footer .footer-content .social-icons {
    list-style-type: none;
    margin-bottom: 0; }
    @media (max-width: 767px) {
      footer .footer-content .social-icons {
        display: block;
        text-align: center; } }
    footer .footer-content .social-icons li {
      display: inline-block;
      margin: 0 7px; }
  footer .footer-content .copyrights {
    color: #959595; }
    @media (max-width: 767px) {
      footer .footer-content .copyrights {
        display: block;
        text-align: center;
        margin: 15px 0; } }

@media (max-width: 767px) {
  .modal .modal-dialog .modal-content {
    width: 307px;
    margin: auto; } }
@media (min-width: 1200px) {
  .modal .modal-dialog .modal-body.large-popup {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 900px;
    padding: 0;
    color: #363636;
    border-radius: 6px; } }
.modal .modal-dialog .modal-body.large-popup .nopadding {
  padding: 0 !important; }
.modal .modal-dialog .modal-body.large-popup .register-modal .popup-intro {
  height: 523px; }
  @media (max-width: 1199px) {
    .modal .modal-dialog .modal-body.large-popup .register-modal .popup-intro {
      display: none; } }
  .modal .modal-dialog .modal-body.large-popup .register-modal .popup-intro .popup-intro-img {
    position: relative;
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; }
.modal .modal-dialog .modal-body.large-popup .register-modal .popup-form {
  background-color: #fff;
  height: 100%;
  padding: 40px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px; }
  @media (max-width: 767px) {
    .modal .modal-dialog .modal-body.large-popup .register-modal .popup-form {
      padding: 25px; } }
  .modal .modal-dialog .modal-body.large-popup .register-modal .popup-form .close {
    display: none; }
    @media (max-width: 1199px) {
      .modal .modal-dialog .modal-body.large-popup .register-modal .popup-form .close {
        display: block; } }
  .modal .modal-dialog .modal-body.large-popup .register-modal .popup-form .form-group {
    margin-bottom: 20px !important;
    position: relative; }
    .modal .modal-dialog .modal-body.large-popup .register-modal .popup-form .form-group .input-icon {
      padding-right: 40px; }
    .modal .modal-dialog .modal-body.large-popup .register-modal .popup-form .form-group i {
      position: absolute;
      top: 13px;
      right: 15px;
      font-size: 14px; }
    .modal .modal-dialog .modal-body.large-popup .register-modal .popup-form .form-group select {
      padding: 0px 12px; }
  .modal .modal-dialog .modal-body.large-popup .register-modal .popup-form .signup-btn {
    width: 100%;
    border: 0;
    outline: 0;
    height: 40px;
    margin-top: 20px; }
  .modal .modal-dialog .modal-body.large-popup .register-modal .popup-form .popup-title {
    color: #2a5dd4;
    font-weight: bold;
    font-size: 30px; }
  .modal .modal-dialog .modal-body.large-popup .register-modal .popup-form .popup-desc {
    color: #04004d;
    font-size: 22px; }

.done-popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px; }
  .done-popup-content .close {
    left: 3px;
    top: 3px; }
  .done-popup-content .popup-title {
    font-size: 24px;
    color: #2a5dd4;
    margin-top: 15px; }
  .done-popup-content .popup-desc {
    font-size: 17px;
    color: #04004d;
    margin: 12px 0; }
  .done-popup-content .popup-num {
    font-size: 24px;
    color: #04004d;
    margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
