*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    text-align: right;
}


// signup btn
.signup-btn{
    background: $blueColor 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #fff !important;
    text-align: center;
    &:hover{
        color: #b6b4b4 !important;
        text-decoration: none;
    }
}
// edu title
.edu-title{
    font-size: 26px;
    color: $navyColor;
    font-weight: bold;
} 
// edu desc
.edu-desc{
    color: #959595;
    margin: 20px 0;
    font-size: 22px;
    .option{
        color: $navyColor;
    }
    @media #{$minLarge}{
        width: 526px;

    }
}


.img-container{
    img{
        width: 100%;
    }
}


// lists
.features-list{
    .features-list-item{
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        color: #959595;
        img{

        }
        p{
            margin-right: 10px;
            margin-bottom: 0 !important;
        }
    }
}


// popup close btn
.close{
    width: 30px;
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: pointer;
}
// ./popup close btn