
.hero{
    background-image: url(../../images/bg1366.png);
    @media (min-width: 1200px) {
        // height: 100vh;
        height: 748px;
    }
    @media (min-width: 1200px) {
        // height: 100vh;
        height: 748px;
    }
    @media #{$maxMobile} {
        background-position: top right;
    }
    background-repeat: no-repeat;
    background-position: right;
    header{
        nav{
            width: 100%;
            .navbar-nav{
                @media (max-width: 767px){
                    margin-top: 20px;
                }
                .nav-link{
                    &:hover{
                        color: rgb(182, 180, 180) !important;
                    }
                }
                .signup-btn{
                    width: 152px;
                    height: 37px;
                    font-size: 13px;
                }
                .login-btn{
                    margin-left: 35px;
                    font-size: 13px;
                    color: $navyColor;
                    font-weight: bold;
                }
            }
        }
    }
    .hero-content{
        @media #{$minLarge} {
            padding-top: 50px;
        }
        .text-container{
            @media (max-width: 767px){
                margin-bottom: 40px;
                margin-top: 50px;
            }
            @media (min-width: 1200px){
                padding: 110px 0;
                margin-right: 15px;
            }
            .edu-title{
                letter-spacing: 0.78px;
                color: $navyColor;
                font-weight: bolder;
                @media (min-width: 1200px) {
                    font-size: 60px;
                }
                font-family: 'Poppins', sans-serif;
            }
            .edu-desc{
                font-weight: bold;
                color: $navyColor;
                line-height: 1.67;
                font-size: 26px;
                margin-top: 20px;
                @media (min-width: 1200px) {
                    width: 475px;
                }
                @media #{$maxMobile} {
                    font-size: 21px;
                }
            }
            .signup-btn{
                width: 187px;
                height: 58px;
                font-size: 18px;
                display: block;
                line-height: 58px;
                margin-top: 30px;
                @media #{$maxMobile} {
                    width: 174px;
                    height: 45px;
                    font-size: 16px;
                    line-height: 45px;
                }
            }
        }
        .img-container{
            float: left;
            img{
                @media (max-width: 767px){
                    width: 100%
                }
            }
        }
    }
}

.between{
    position: relative;
    .between-content{
        margin: 70px auto;
        width: 300px;
        text-align: center;
        @media #{$maxMobile} {
            margin: 38px auto;
        }
        h3{
            font-weight: bold;
            color: $navyColor;
            text-align: center;
            &::after{
                display: block;
                height: 2px;
                content: "";
                background-color: #eee;
                width: 527px;
                position: absolute;
                left: 0;
                bottom: 10px;
                @media (min-width: 321px) and #{$maxMobile} {
                    width: 30px;
                }
                @media (max-width: 320px){
                    display: none;
                }
                @media (min-width: 768px) and (max-width:1200px){
                    width: 80px ;
                }
            }
            &::before{
                display: block;
                height: 2px;
                content: "";
                background-color: #eee;
                width: 527px;
                position: absolute;
                right: 0;
                bottom: 10px;

                @media (max-width: 320px){
                    display: none;
                }
                @media (min-width: 321px) and #{$maxMobile} {
                    width: 30px;
                }
                @media (min-width: 768px) and (max-width:1200px){
                    width: 80px ;
                }
            }
        }
    }
}

.about{
    .img-container{
        position: relative;
        height: 100%;
        .video-placeholder{
            width: 100%;
            height: 100%
        }
        .play{
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            text-align: center;
            width: 68px;
            height: 68px;
            padding: 24.8px 22.6px 24.1px 28.2px;
            background-color: #ffffff;
            transform: translate(-50%, -50%);
            cursor: pointer;
            @media #{$maxMobile} {
                width: 55px;
                height: 55px;
                padding: 15.8px 14.6px 14.1px 17.2px;
            }
            i{
                color: #2a5dd4;
                font-size: 18px;
                @media #{$maxMobile} {
                    font-size: 16px;
                }
            }
        }
    }
    .text-container{
        @media #{$maxMobile} {
            margin-top: 33px;
        }
    }
}
.feature{
    margin: 80px 0;
    .text-container{
        padding: 48px 0;
        @media #{$maxMobile}{
            padding: 20px 0;
        }
    }
}

.subscribe{
    border-radius: 39px;
    background-color: $navyColor;
    padding: 64px 63px;
    margin-bottom: 100px;
    @media #{$maxMobile}{
        padding: 30px;
        border-radius: 12px;
    }
    .subscribe-title{
        font-size: 30px;
        color: $yellowColor;
    }
    .price{
        color: #fff;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin: 20px 0;
        @media #{$maxMobile}{
            margin: 10px 0;
        }
        .num{
            font-size: 45px;
            margin-left: 8px;
        }
        .text{
            font-size: 22px;
        }
    }
    .subscribe-desc{
        color: #fff;
        font-size: 20px;
        margin: 20px 0;
        @media #{$maxMobile}{
            margin: 10px 0;
        }
    }
    .subscribe-btn{
        width: 150px;
        height: 50px;
        background-color: #ffad0d;
        color: #04004d;
        display: block;
        border-radius: 4px;
        text-align: center;
        line-height: 50px;
        font-size: 18px;
        margin-top: 40px;
        font-weight: bold;
        @media #{$maxMobile}{
            margin-top: 20px;
        }
    }

    .features-list{
        @media #{$maxMobile}{
            margin-top: 20px;
        }
        .features-list-item{
            color: #fff;
            &:not(:last-child){
                margin-bottom: 25px;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}


// footer

footer{
    .footer-content{
        @media #{$maxMobile}{
            display: block;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 2px solid #eaeaea;
        padding: 15px 0;
        .footer-logo{
            width: 115px;
            @media #{$maxMobile}{
                display: block;
                margin: auto;
            }
        }
        .social-icons{
            @media #{$maxMobile}{
                display: block;
                text-align: center;
            }
            list-style-type: none;
            margin-bottom: 0;
            li{
                display: inline-block;
                margin: 0 7px;
            }
        }
        .copyrights{
            @media #{$maxMobile}{
                display: block;
                text-align: center;
                margin: 15px 0;
            }
            color: #959595
        }
    }
}




// signup  modal 
.modal{
    .modal-dialog{
        .modal-content{
            @media #{$maxMobile}{
                width: 307px;
                margin: auto;
            }
        }
        .modal-body.large-popup{
            @media #{$minLarge} {
                transform: translate(-50%, -50%);
                position: absolute;
                top: 50%;
                left: 50%;
                width: 900px;
    
                padding: 0;
                color: #363636;
                border-radius: 6px;
            }
            .nopadding{
                padding: 0 !important;
            }
            .register-modal{
                .popup-intro{
                    height: 523px;
                    @media #{$maxMeduim} {
                        display: none;
                    }
                    .popup-intro-img{
                        position: relative;
                        width: 100%;
                        height: 100%;
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                    }
                }
                .popup-form{
                    background-color: #fff;
                    height: 100%;
                    padding: 40px;
                    border-bottom-right-radius: 8px;
                    border-top-right-radius: 8px;
                    @media #{$maxMobile}{
                        padding: 25px;
                    }
                    .close{
                        display: none;
                        @media #{$maxMeduim} {
                            display: block;
                        }
                    }
                    .form-group {
                        margin-bottom: 20px !important;
                        position: relative;
                        .input-icon{
                            padding-right: 40px;
                        }
                        i{
                            position: absolute;
                            top: 13px;
                            right: 15px;
                            font-size: 14px;
                        }
                        select{
                            padding: 0px 12px;
                        }
                    }
                    .signup-btn{
                        width: 100%;
                        border: 0;
                        outline: 0;
                        height: 40px;
                        margin-top: 20px;
                    }
                    .popup-title{
                        color: $blueColor;
                        font-weight: bold;
                        font-size: 30px;
                    }
                    .popup-desc{
                        color: $navyColor;
                        font-size: 22px;
                    }
                }
            }
        }
    }
}
// ./signup modal

// done modal
.done-popup-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px;
    .close{
        left: 3px;
        top: 3px;
    }
    .popup-title{
        font-size: 24px;
        color: $blueColor;
        margin-top: 15px;
    }
    .popup-desc{
        font-size: 17px;
        color: $navyColor;
        margin: 12px 0;
    }
    .popup-num{
        font-size: 24px;
        color: $navyColor;
        margin-bottom: 0;
    }
}
// ./done modal
